@model List<Cliente>
@{  Layout = "/Views/Shared/Layout.cshtml";}
   
    <h1>Cadastro de Clientes</h1>

    <table class="table table-hover">
        @foreach (Cliente c in Model)

        {
            <tr>   
                <td>@c.ClienteId</td>
                <td>@c.Name</td>
                <td>@c.Email</td>
                <td><a href="/cliente/details/@c.ClienteId">Detalhes</a></td>
                <td><a href="/cliente/delete/@c.ClienteId">Apagar</a></td>
                <td><a href="/cliente/update/@c.ClienteId">Editar</a></td>

            </tr>
        }
    </table>

    <a class="btn btn-primary" href="/cliente/create">Adicionar</a>
